# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Identify commonly used libraries and tools in Data Science  
- List popular languages for Data Science  
- Use Markdown cells to document and organize a Jupyter Notebook
- Demonstrate basic arithmetic operations using Python  
- Convert units using simple Python expressions

Some of the popular languages that Data Scientists use are:

1. Python  
2. R  
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas 
2. Seaborn
3. NumPy

| Data Science Tools           |
|-----------------------------|
| Jupyter Notebook            |
| RStudio                     |
| Apache Zeppelin             |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [5]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

## Author
Zablon